@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.remove-sidebar {
  margin-left: 10rem;   /* ml-40 */
  margin-top: 4px;
}

.remove-navbar {
  margin-top: 3.5rem;   /* mt-16 */
}