@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.remove-sidebar {
  margin-left: 10rem;   /* ml-40 */
  margin-top: 4px;
}

/* .remove-navbar {
  margin-top: 4.5rem;   
} */

.form-border {
  border: 1px solid #d1d5db;
  padding: 0.5rem;
  border-radius: 0.25rem;
}